<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<display-name>ConnectivityProxy</display-name>

	<!-- ============================================================== -->
	<!-- Connectivity Proxy servlet  -->
	<!-- Specify name of SecurityHandler implementation as <init-param>  -->
	<!-- if such is available  -->
	<!-- ============================================================== -->

	<servlet>
		<display-name>ConnectivityProxy</display-name>
		<servlet-name>ConnectivityProxy</servlet-name>
		<servlet-class>com.sap.cloudlabs.connectivity.proxy.ProxyServlet</servlet-class>
		<!-- <init-param>
            <param-name>security.handler</param-name>
            <param-value>yourSecurityHandlerImplementation</param-value>
        </init-param> -->
	</servlet>
	<servlet-mapping>
			<servlet-name>ConnectivityProxy</servlet-name>
		
		<!-- ============================================================== -->
		<!-- Replace yourDestinationName1 with real destination name  -->
		<!-- Add additional <url-pattern> for more destinations  -->
		<!-- ============================================================== -->
		
		<url-pattern>/proxy/yourDestinationName1/*</url-pattern>
		<url-pattern>/proxy/yourDestinationName2/*</url-pattern>
	</servlet-mapping>
	
	<!-- ============================================================== -->
	<!-- Destination access can be further restricted with roles -->
	<!-- Replace Administrator with the role you have -->
	<!-- The role should be assigned to the user who wants to access the application -->
	<!-- This can be done in Hana Cloud Cockpit -->
	<!-- Un-comment the following tags -->
	<!-- ============================================================== -->

	<!--<security-constraint>
    		<web-resource-collection>
	        	<web-resource-name>Access to yourDestinationName1</web-resource-name>
	    	    	<url-pattern>/proxy/yourDestinationName1/*</url-pattern>
	    		</web-resource-collection>
	    	<auth-constraint>
		       	<role-name>Administrator</role-name>
    		</auth-constraint>
		</security-constraint>
	 -->
	<!-- ============================================================== -->
	<!-- JNDI resource definition of DestinationFactory -->
	<!-- ============================================================== -->

	<resource-ref>
		<res-ref-name>connectivity/DestinationFactory</res-ref-name>
		<res-type>com.sap.core.connectivity.api.DestinationFactory</res-type>
	</resource-ref>

	<!-- ============================================================== -->
	<!-- Welcome file list -->
	<!-- ============================================================== -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


</web-app>